a.notif {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    background: url('http://i.imgur.com/evpC48G.png');
    background-size: contain;
    text-decoration: none;
  }
  .num {
    position: absolute;
    right: 11px;
    top: 6px;
    color: #fff;
  }

  .fixedButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  } 